//colors
$color_alabaster_approx: #f9fafb;
$color_nevada_approx: #636b6f;
$white: #fff;
$silver: #c0c0c0;
$color_mine_shaft_approx: #333;
body {
    background-color: $color_alabaster_approx!important;
}
header {
    /* height: 20px; */
    margin: 0 0 60px 0;
}
.full-height {
    height: 100vh;
}

/**/
.holder {
    position: relative;    
    height: 100%;
    min-height: 100px;   
    // transition: min-height 2s;
    // &:hover {
        
    // }
    &:hover .block{
    // display:block;
    // 
    
    opacity:1;
    transition: 1s;
    font-weight: bold;    
}

}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    height: 0px;
    padding:5px;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
}
// .holder
/**/

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.maine {
    height: auto;
    min-height: 600px;
    text-align: center;
}
.title {
    font-size: 84px;
}
.m-b-md {
    margin-bottom: 30px;
}
.m-p-md {
    margin-bottom: 60px;
}
p {
    &.item {
        text-align: center;
        font-size: 19px;
    }
    &.abouttext {
        margin: 0 0 20px 0;
        padding: 0 40px 0 40px;
    }
    &.sometext {
        margin: 10px 0;
        font-size: 2rem;
    }
}
.castle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: center;
}
.card{
    margin: 10px;
}
.titlep {
    font-size: 65px;
}
.footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
    > p {
        margin: 60px 0 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
}
#go-top {
    position: fixed;
    bottom: 25px;
    right: 70px;
    text-align: center;
    cursor: pointer;
    display: none;
    width: 80px;
    height: 30px;
    background: $silver;
    line-height: 30px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    &:hover {
        background: $color_mine_shaft_approx;
        color: $white;
    }
}

.links > a {
    color: $color_nevada_approx;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.linksh,.linksp{
    height: 40px;
}
.linksh > a {
    color: $white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px dotted;
    &:hover{
            color: #0056b3;
            text-decoration: none;
    }
}
.linksp > a {
    color: $silver;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px dotted;
    &:hover{
            color: #0056b3;
            text-decoration: none;
    }
}
.colls.works {
    display: inline-block;
    margin-right: 10px;
    img {
        width: 300px;
        padding-top: 10px;
    }
}
.tooltip:hover:before {
    content: attr(data-title);
}
img.hnavim {
    width: 20px;
    margin: 0 0 0 5px;
}

.wrapper2 {
    margin: 0 auto;
    width: 540px;

    >div {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* float: left; */
    margin: 0 10px 10px 0;
    /* height: 90px; */
    width: 100%;
}
}
// 
.wrapper {
  margin : 0 auto;
  width  : 740px;
  // height: 250px;

  > div {
    border        : 1px solid #ccc;
    border-radius : 5px;
    float         : left;
    margin        : 0 10px 10px 0;
    height        : 90px;
    width         : 173px;
  }
}
@for $i from 0 to 14 {

  $step : -173px; // Шаг смещения по оси X для вывода изображения

  .wrapper {
    > div:nth-child(#{$i + 1}) {
      // На каждой итерации цикла увеличиваем смещение вывода изображения, которое умножаем на значение счетчика
      background : #fff url("/../images/sprite.jpg") no-repeat ($step * $i) 0;
    }
  }
} 
// 
@media(min-width: 300px) and(max-width: 1200px) {
.content {
    height: auto;
    min-height: 300px;
    text-align: center;
    margin-bottom: 20px;
}
p.sometext, p.abouttext {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.title,.titlep {
    font-size: 60px;
}

.wrapper {
  margin : 0 auto;
  width  : 100%;
  // height: 250px;

  > div {
    border        : 1px solid #ccc;
    border-radius : 5px;
    float         : left;
    margin: 10px 0 10px 100px;
    // margin        : 0 10px 10px 0;
    // height        : 50%;
    // width         : 90%;
  }
}

.wrapper2 {
    margin: 0 auto;
    width: 100%;
    
    >div {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* float: left; */
    margin: 0 10px 10px 0;
    /* height: 90px; */
    width: 95%;
}
}

header {
    /* height: 20px; */
    margin: 0 0 60px 0;
}
// 
}