@charset "UTF-8";

body {
  background-color: #f9fafb !important;
}

header {
  /* height: 20px; */
  margin: 0 0 60px 0;
}

.full-height {
  height: 100vh;
}

/**/

.holder {
  position: relative;
  height: 100%;
  min-height: 100px;
}

.holder:hover .block {
  opacity: 1;
  transition: 1s;
  font-weight: bold;
}

.block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  height: 0px;
  padding: 5px;
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s;
  /*Скорость перехода состояния элемента*/
}

/**/

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.maine {
  height: auto;
  min-height: 600px;
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.m-p-md {
  margin-bottom: 60px;
}

p.item {
  text-align: center;
  font-size: 19px;
}

p.abouttext {
  margin: 0 0 20px 0;
  padding: 0 40px 0 40px;
}

p.sometext {
  margin: 10px 0;
  font-size: 2rem;
}

.castle {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
}

.card {
  margin: 10px;
}

.titlep {
  font-size: 65px;
}

.footer {
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -40px;
}

.footer > p {
  margin: 60px 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#go-top {
  position: fixed;
  bottom: 25px;
  right: 70px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 80px;
  height: 30px;
  background: #c0c0c0;
  line-height: 30px;
  border-radius: 5px;
}

#go-top:hover {
  background: #333;
  color: #fff;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.linksh,
.linksp {
  height: 40px;
}

.linksh > a {
  color: #fff;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px dotted;
}

.linksh > a:hover {
  color: #0056b3;
  text-decoration: none;
}

.linksp > a {
  color: #c0c0c0;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px dotted;
}

.linksp > a:hover {
  color: #0056b3;
  text-decoration: none;
}

.colls.works {
  display: inline-block;
  margin-right: 10px;
}

.colls.works img {
  width: 300px;
  padding-top: 10px;
}

.tooltip:hover:before {
  content: attr(data-title);
}

img.hnavim {
  width: 20px;
  margin: 0 0 0 5px;
}

.wrapper2 {
  margin: 0 auto;
  width: 540px;
}

.wrapper2 > div {
  border: 1px solid #ccc;
  border-radius: 5px;
  /* float: left; */
  margin: 0 10px 10px 0;
  /* height: 90px; */
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 740px;
}

.wrapper > div {
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  margin: 0 10px 10px 0;
  height: 90px;
  width: 173px;
}

.wrapper > div:nth-child(1) {
  background: #fff url("/../images/sprite.jpg") no-repeat 0px 0;
}

.wrapper > div:nth-child(2) {
  background: #fff url("/../images/sprite.jpg") no-repeat -173px 0;
}

.wrapper > div:nth-child(3) {
  background: #fff url("/../images/sprite.jpg") no-repeat -346px 0;
}

.wrapper > div:nth-child(4) {
  background: #fff url("/../images/sprite.jpg") no-repeat -519px 0;
}

.wrapper > div:nth-child(5) {
  background: #fff url("/../images/sprite.jpg") no-repeat -692px 0;
}

.wrapper > div:nth-child(6) {
  background: #fff url("/../images/sprite.jpg") no-repeat -865px 0;
}

.wrapper > div:nth-child(7) {
  background: #fff url("/../images/sprite.jpg") no-repeat -1038px 0;
}

.wrapper > div:nth-child(8) {
  background: #fff url("/../images/sprite.jpg") no-repeat -1211px 0;
}

.wrapper > div:nth-child(9) {
  background: #fff url("/../images/sprite.jpg") no-repeat -1384px 0;
}

.wrapper > div:nth-child(10) {
  background: #fff url("/../images/sprite.jpg") no-repeat -1557px 0;
}

.wrapper > div:nth-child(11) {
  background: #fff url("/../images/sprite.jpg") no-repeat -1730px 0;
}

.wrapper > div:nth-child(12) {
  background: #fff url("/../images/sprite.jpg") no-repeat -1903px 0;
}

.wrapper > div:nth-child(13) {
  background: #fff url("/../images/sprite.jpg") no-repeat -2076px 0;
}

.wrapper > div:nth-child(14) {
  background: #fff url("/../images/sprite.jpg") no-repeat -2249px 0;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .content {
    height: auto;
    min-height: 300px;
    text-align: center;
    margin-bottom: 20px;
  }

  p.sometext,
  p.abouttext {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .title,
  .titlep {
    font-size: 60px;
  }

  .wrapper {
    margin: 0 auto;
    width: 100%;
  }

  .wrapper > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin: 10px 0 10px 100px;
  }

  .wrapper2 {
    margin: 0 auto;
    width: 100%;
  }

  .wrapper2 > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* float: left; */
    margin: 0 10px 10px 0;
    /* height: 90px; */
    width: 95%;
  }

  header {
    /* height: 20px; */
    margin: 0 0 60px 0;
  }
}


.skillbar-title,
.skillbar-title span {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px
}

.wrapper>div:nth-child(1) {
    background: url(../images/sprite.jpg) no-repeat #000
}

.wrapper>div:nth-child(2) {
    background: url(../images/sprite.jpg) -173px 0 no-repeat #000
}

.wrapper>div:nth-child(3) {
    background: url(../images/sprite.jpg) -346px 0 no-repeat #000
}

.wrapper>div:nth-child(4) {
    background: url(../images/sprite.jpg) -519px 0 no-repeat #000
}

.wrapper>div:nth-child(5) {
    background: url(../images/sprite.jpg) -692px 0 no-repeat #000
}

.wrapper>div:nth-child(6) {
    background: url(../images/sprite.jpg) -865px 0 no-repeat #000
}

.wrapper>div:nth-child(7) {
    background: url(../images/sprite.jpg) -1038px 0 no-repeat #000
}

.wrapper>div:nth-child(8) {
    background: url(../images/sprite.jpg) -1211px 0 no-repeat #000
}

.wrapper>div:nth-child(9) {
    background: url(../images/sprite.jpg) -1384px 0 no-repeat #000
}

.wrapper>div:nth-child(10) {
    background: url(../images/sprite.jpg) -1557px 0 no-repeat #000
}

.wrapper>div:nth-child(11) {
    background: url(../images/sprite.jpg) -1730px 0 no-repeat #000
}

.wrapper>div:nth-child(12) {
    background: url(../images/sprite.jpg) -1903px 0 no-repeat #000
}

.wrapper>div:nth-child(13) {
    background: url(../images/sprite.jpg) -2076px 0 no-repeat #000
}

.wrapper>div:nth-child(14) {
    background: url(../images/sprite.jpg) -2249px 0 no-repeat #000
}

p.naviki {
    color: #525252;
    font-size: 12px
}

.Count:after {
    content: "%"
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, .1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.skillbar-bar {
    height: 35px;
    width: 0;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #000
}

.mouse-icon {
    border: 2px solid #000;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10
}

.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
    background: #000;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px
}

@keyframes scrolling {
    0% {
        opacity: 0;
        top: 5px
    }
    30% {
        opacity: 1;
        top: 10px
    }
    100% {
        opacity: 0;
        top: 25px
    }
}

.pad-xl {
    padding: 200px 0
}

.pad-lg {
    padding: 160px 0
}

.pad-sm {
    padding: 80px 0
}

.pad-xs {
    padding: 30px 0
}
/*etaps build*/
h3.etaps-build1, h3.etaps-build2, h3.etaps-build3, h3.etaps-build4, h3.etaps-build5, h3.etaps-build6, h3.etaps-build7, h3.etaps-build8 {
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.buildss-step {
    
    padding: 20px;
    
    margin: 16px auto;
    text-align: justify;
}
/*etaps build end*/
@keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px /* анимируем свойство background-position */
    }
}
/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}
/* не нужно использовать префикс -ms, так как свойства keyframes и animation поддерживаются с версии IE10 без префикса */
#fon{
    height: 340px; /* задаем произвольную высоту и ширину блока */
    width:100%;
    background-image: url('../images/2.png');
    animation: animatedBackground 60s linear infinite;
    -moz-animation: animatedBackground 60s linear infinite;
    -webkit-animation: animatedBackground 60s linear infinite;
    -o-animation: animatedBackground 60s linear infinite;
    /* так же, как и с @keyframes, префикс -ms тут ни к чему */
}